<div class="container">
  <%= render "synopsis" %>

  <%= render "shared/search_bar" %>

  <% if @badge_scans.empty? %>
  <h5 style="color: red;">We were unable to understand your query, <%= @autofill %>.</h5>
  <%= render "helpers" %>
</div>
  <% else %>
</div>

<div class="map-container">
  <div class="map-row">
    <div class="pull-left" id="svg-graph">
      <%= render "svg_section" %>
    </div>

    <div class="pull-right" id="svg-table">
      <%= render "recent_badge_scan_box", scan: @badge_scans.reverse.first %>
      <%= render "recent_badge_scans_table", scans: @badge_scans.reverse[0..10] %>
    </div>

  </div>
</div>
<% end %>