<div class="container">
  <div class='row-fluid push-from-top'>
    <div class='span2'>
      <img src="assets/eldoorado.png" id="logo" />
    </div>
    <div class='span10'>
      <h1 id="title">Eldoorado</h1>
      <p>Put helpful stuff here!</p>
    </div>
  </div>

  <div class="row-fluid push-from-top">
    <div class="span12">
    <%= form_tag "/search", :method => "get" do %>
      <% label_tag(:q) %>
      <%= text_field_tag :q, nil, placeholder: "#{@params}", class: 'span12', autocomplete: "off" %>
    <% end %>
    </div>
  </div>

  <% if @badge_scans.empty? %>
  <p>
  Put helpful stuff here!
  </p>
</div>
  <% else %>
</div>

<div class="map-container">
  <div class="map-row">
    <div class="pull-left" id="svg-graph">
      <div id="svg-cover">
      </div>
      <button class="btn btn-large" id='svg-start'>Start Scan Simulation</button>
      <button class="btn btn-large" id='svg-again'>Simulate Scans Again?</button>
      <svg id="svg">
      </svg>
    </div>

    <div class="pull-right" id="svg-table">
      <h4 class="centerize current-title">Most Recent Badge Scan</h4>
      <div id="current-object">
        <% filler_data = @badge_scans.reverse.first %>
        <dl>
          <dt>Entrant</dt>
            <dd class="data-entrant"><%= "#{filler_data.first_name} #{filler_data.last_name}" %></dd>
          <dt>Entry Point</dt>
            <dd class="data-entry"><%= filler_data.door %></dd>
          <dt>Company</dt>
            <dd class="data-company"><%= filler_data.company %></dd>
          <dt>Scan Time</dt>
            <dd class="data-time"><%= DateTime.parse(filler_data.scan_time).strftime("%b %e, %l:%M %p") %></dd>
        </dl>
      </div>

      <h4 class="centerize">Recent Scan Results</h4>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Entrant Details</th>
            <th>Scan Time</th>
          </tr>
        </thead>

        <tbody>
        <% @badge_scans.reverse[0..10].each do |badge_scan| %>
          <tr>
            <td><%= badge_scan.first_name %> <%= badge_scan.last_name %> (<%= badge_scan.company %>)</td>
            <td><%= DateTime.parse(badge_scan.scan_time).strftime("%b %e, %l:%M %p") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>